# Ignorar contenido pesado, pero mantener estructura
/data/*
!/data/**/*.csv
!/data/**/.gitkeep

/models/*
!/models/**/.gitkeep

# =========================
# Archivos temporales
# =========================
__pycache__/
*.py[cod]
*.so
*.zip
*.tar
*.gz

# =========================
# Entornos y configuraciones
# =========================
.env
.venv/
.envrc
*.env
*.yaml
*.yml
.DS_Store

# =========================
# Notebooks y outputs
# =========================
.ipynb_checkpoints/
*.log